[credential "https://github.com"]
	helper = 
	helper = !/nix/store/wysbdcdny1w7ap19z1znd1sadzzvn39b-gh-2.35.0/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/wysbdcdny1w7ap19z1znd1sadzzvn39b-gh-2.35.0/bin/gh auth git-credential
[user]
	email = 67432234+francoisrob@users.noreply.github.com
	name = Francois Robbertze
