* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono";
  font-size: 12px;
}

window#waybar {
  background-color: rgb(30, 30, 46);
  color: white;
}

#window {
  font-weight: 600;
  font-family: "Noto Serif Myanmar";
}

/* #workspaces { */
/*   border-radius: 10px; */
/*   background: darkblue; */
/*   margin: 5px; */
/* } */
#workspaces button {
  background: transparent;
  color: white;
  /* border: 2px solid red; */
}

#workspaces button.focused {
  color: green;
  background-color: red;
  /* border-top: 2px solid #c9545d; */
}

#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#mode {
  margin: 0;
  padding: 0;
}

#clock {
  margin: 0 10px 0 10px;
  font-weight: bold;
}

#battery icon {
  color: red;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

/* #battery.warning:not(.charging) { */
/*   color: white; */
/*   animation-name: blink; */
/*   animation-duration: 0.5s; */
/*   animation-timing-function: linear; */
/*   animation-iteration-count: infinite; */
/*   animation-direction: alternate; */
/* } */
